extends layout

block content
  .row
    .span12
      .hero-unit.center
        h1= error
        small Error 404
        br
        p The page you requested could not be found, either contact your webmaster or try again.
        p Or you could
        a.btn.btn-large.btn-info(href='/') Go Back to Home Page
          i.icon-home.icon.white