extends layout

block content
  // nav tabs
  .row(style="margin-bottom: 15px;")
    ul.nav.nav-pills
      li(class=req.route.path === '/'  ? 'active' : '')
        a(href="/") Home
      li(class=req.route.path === '/queries' ? 'active' : '')
        a(href="/queries") Quries
      - if (req.path.split('/')[1] === 'results')
        li(class='active')
          a(href="req.route.path") Results
  block subContent