extends _layout

block subContent
  .row
    #graph-wrapper
      .info-box(rel=queryId)
      .info-box-query-stats
      .info-box-timeline
        .panel.panel-default
          .panel-heading
            button.btn.btn-default#display-timeline-btn(type='button' value='Timeline') Timeline
          .panel-body#timeline
      #graph-export
        hr
        button.btn.btn-success#graph-export-btn(type='button') Export Image
        button.btn.btn-success#gexf-export-btn(type='button') Export Gexf
        #gexf-export-info
        hr
      #timeline-wrapper
        button.btn.btn-default#refresh-results(type='button') Refresh Results
        hr
      #graph-canvas
