extends _layout

block subContent
  .row
    #graph-wrapper
      .info-box
      #graph-export
        button.btn.btn-success#graph-export-btn(type='button') Export Graph
        hr
      #graph-canvas
