extends _layout

block subContent
  .row
    #graph-wrapper
      .info-box(rel=queryId)
      .info-box-query-stats
      #graph-export
        hr
        button.btn.btn-success#graph-export-btn(type='button') Export Image
        button.btn.btn-success#gexf-export-btn(type='button') Export Gexf
        #gexf-export-info
        hr
      #timeline-wrapper
        h3 Timeline
        #timeline
          hr
      #graph-canvas
