doctype html
html
  include ./layouts/head
  body
    #wrap
      include ./layouts/header
      .container
        .main-content
          include ./layouts/messages
          .main-head
            block main
          block content
      include ./layouts/foot
