extends _layout

block subContent
  #map-wrapper
    .info-box(rel=queryId)
    .info-box-query-stats
    hr
    button.btn.btn-default#refresh-results(type='button') Refresh Results
    hr
    #map-canvas

